.promo 
    .promo-bg(style="background-image: url(/images/promo-bg.jpg)")
    .container

        .promo-title Просто вкусная вода

        .btn.btn--gradient.js__promo-offer Заказать

        .promo-bg-big(style="background-image: url(/images/promo-big-pic.png)")
        .promo-small-big(style="background-image: url(/images/promo-small-pic.png)")