.navigation
	.container 
		.nav-wrap
			.logo-wrap
				a.logo(href="/")
					img(src="/images/logo.png")
					span.company-name Просто вода
			.nav
				.nav-row 
					.nav__item 
						a.nav__link(href="#") Преимущества
					.nav__item 
						a.nav__link(href="#") Каталог
					.nav__item 
						a.nav__link(href="#") Оборудование
					.nav__item 
						a.nav__link(href="#") Доставка
					.nav__item 
						a.nav__link(href="#") Контакты	
				.contact-row
					.phone-wrap 
						a.phone(href="tel:+78129568009") +7 (812) 956-80-09

					.nav__cart-wrap 
						.nav__cart 
							img(src="/images/icon-cart.svg" alt="Корзина")
						span.cart__count 0