.about-water 
    .about-water-bg(style="background-image:url(/images/bg-water-drops.png)")

    .container 
        .columns
            .column
                .section-content
                    .about-water__title Просто о воде

                    .about-water__description 
                        p Для того чтобы сохранять работоспособность на протяжении рабочего дня и не чувствовать усталость по утрам и вечерам необходимо постоянно пить качественную питьевую воду не только дома, но и в офисе.
                        p Вода отличается прекрасным вкусом, природной минерализацией и отлично подойдет для утоления жажды в жаркий день, приготовления пищи, а также пополнения водного баланса организма.

        .about-water-bg-big(style="background-image: url(/images/about-water-big.png)")
        .about-water-small-big(style="background-image: url(/images/about-water-small.png)")