.our-advantages
    .container 
        .section-title Наши преимущества

        .advantages 
            .advantage 
                .icon
                    img.icon-pic(src="/images/advantage-1.png")
                .title Артезианские скважины глубиной 182 и 182 метра
                .description Расположены в Ленинградской области, в деревне Вартемяги. Это ресурс одного из самых древних водоносных слоёв Ленобласти.

            .advantage 
                .icon
                    img.icon-pic(src="/images/advantage-2.png")
                .title Строгий контроль качества в 5 этапов
                .description Проходит 5-ти ступенчатую очистку, включая обработку ультрафиолетом и озонирование в потоке, и непосредственно поступает на линию розлива.

            .advantage 
                .icon
                    img.icon-pic(src="/images/advantage-3.png")
                .title Бесплатная доставка до двери
                .description При оформлении заказа до 18:00 доставка осуществляется на следующий день.