.advantages {
    margin: 2.6rem 0;

    .container {
        .advantages-row {
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            .advantage {
                margin: 4.2rem 0;
                flex: none;

                .title {
                    color: $blue;
                    font-size: 3.6rem;
                    font-weight: 700;
                    padding: 0 0 1rem 0;
                    margin: 0 0 2rem 0;
                    border-bottom: 0.2rem solid transparent;
                    border-image: $greenBlueGradient;
                    border-image-slice: 1;
                }

                .description {
                    margin: 2rem 0;
                    color: $textBlack;
                    font-size: 2rem;
                    line-height: 1.5;
                }
            }

            .advantage--professional {
                width: 30%;
                width: 26.8%;
            }

            .advantage--profit {
                width: 20%;
                width: 16.5%;
            }

            .advantage--safely {
                width: 20%;
                width: 16.5%;
            }

            .advantage--securely {
                width: 20%;
                // width:   %;
            }
        }
    }
}