$blue: #1457AE;
$cyan: #84CEEB;
$blue2: #3D67CD;
$blue3: #5580E9;
$black: #314149;
$gray: #EEEEEE;
$textBlack: #323232;
$textCyan: #59B9EB;
$btnGradient: linear-gradient(90deg, #84CEEB 4.4%, #5BB9E7 24.4%, #5580E9 72.4%, #8860D0 100%);
$btnGradientHover: linear-gradient(90deg, #5580E9 0%, #5580E9 100%);
$btnGradientActive: linear-gradient(90deg, $textCyan 0%, $textCyan 100%);