$lightBlue: #E5F3FF;
$green: #01E9BD;
$greenHover: #10b597;
$lightGreen: #E4FDF9;
$lightGreenHover: #87e4d4;
$textBlack: #292525;
$lightGray: #868686;
$grayBackground: #F6F7F8;
$textBlue: #13a2ed;
$blue: #007CDE;
$blueHover: #085c9c;
$shadow: #d3d3d3;
$greenBlueGradient: linear-gradient(90deg, rgba(0,124,222,1) 0%, rgba(1,233,189,1) 100%);
$blueGreenGradient: linear-gradient(90deg, rgba(1,233,189,1) 100%, rgba(0,124,222,1) 100%);
// $greenBlueGradient: linear-gradient(#0B0E7F , #0B95DD);